@{
    ViewBag.Title = "Department";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-20">
            <div class="card-body">
                <h4 class="mt-0 header-title titleCor">Department listing</h4>
                <div class="btn-toolbar p-3" role="toolbar">
                    <div class="btn-group mo-mb-2">
                        <button type="button" class="btn btn-primary waves-light waves-effect" onclick="onClick_AddNewDepartment()" data-toggle="tooltip" data-placement="top" title="Add new department"><i class="fas fa-plus-circle"></i> New</button>
                    </div>
                    <div class="btn-group mo-mb-2 ml-1">
                        <button type="button" class="btn btn-primary waves-light waves-effect dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-folder"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item ddlBorder" href="#" onclick="exportCSV()"><i class="fas fa-file-excel" style="color:forestgreen;"></i> Export(csv)</a>
                            <a class="dropdown-item ddlBorder" href="#" onclick="exportExcel()"><i class="fas fa-file-excel" style="color:forestgreen;"></i> Export(excel)</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-dark waves-effect waves-light" onclick="previewDept()" data-toggle="tooltip" data-placement="top" title="Preview report" style="display:none;"> Export</button>
                </div>
                <br />
                <div class="table-responsive">
                    <table id="dtDepartment" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="thead-ful">
                            <tr>
                                <th style="text-align:center;">ID</th>
                                <th style="text-align:center;">Department</th>
                                <th style="text-align:center;">Location</th>
                                <th style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="DepartmentModal" tabindex="-1" role="dialog" aria-labelledby="DepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="DepartmentModalLabel">Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="txtDepName" class="col-sm-3 col-form-label AlignRight">Department</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" id="txtDepName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtDepLocation" class="col-sm-3 col-form-label AlignRight">Location</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" id="txtDepLocation">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeDepartment()" class="btn btn-secondary waves-effect">
                    <i class="fa fa-times" aria-hidden="true"></i> Close
                </button>
                <button type="button" onclick="saveDepartment()" class="btn btn-primary waves-effect waves-light">Save</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Html.Partial("Script")
}