<div class="modal fade bs-preview-modal-center" id="PreviewContentmodal_form" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0"><label id="lblPreviewContentName"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="">
                    <img id="imgPreview" src="~/images/small/img-2.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</div>