<script>
    var reportList = [];
    jQuery(document).ready(function () {
        getReportList();
        $('.mail-list > a').click(function (e) {
            $('.mail-list > a').removeClass('selectedActive');
            $(this).addClass('selectedActive');
        });
        $('.mail-list').show();
        $('.previewBtn').hide();
    });
    function getReportList() {
        $.ajax({
            url: "/Reporting/GetReportList",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {
            },
            success: function (result) {
                var data = result.data;
                reportList = data;
                var html = '<select class="form-control" id="filterMainReport" onchange="changeMainReport()">';
                html += '<option value="">Select Report</option>';
                $.each(data, function (i, item) {
                    html += '<option value=' + item[0].MainReport + '>' + item[0].MainReport + '</option>';
                })
                html += '</select>';
                $('.reportList').html(html);
            }
        });
    }
    function changeMainReport() {
        $('.previewBtn').hide();
        $('.memberFilter').hide();
        var selected = $('#filterMainReport').val();
        if (selected == "Coupon") {
            $('.mail-list').show();
            $('.previewBtn').show();
        }
        var html = '';
        var filter = reportList.find(r => r.find(rp => rp.MainReport == selected));
        if (filter !== null || filter !== undefined) {
            var className = filter[0].SubReport.replace(/\s+/g, '');
            $('#selectedSubReport').val(filter[0].SubReport);
            onclickSubReport("'" + filter[0].SubReport + "'");
        }
        $.each(reportList, function (i, item) {
            $.each(item, function (j, itm) {
                if (itm.MainReport == selected) {
                    var filter = "'" + itm.SubReport + "'";
                    var className = itm.SubReport.replace(/\s+/g, '');
                    html += '<a href="#" onclick="onclickSubReport(' + filter + ')" class="alignli filter-line ' + className + '" ><i class="far fa-file" style="font-size: 15px;"></i> ' + itm.SubReport + '<span class="ml-1" style="color:#40a933;"></span></a>';
                }
            });
        });
        $('.mail-list').html(html);
        if (filter !== null || filter !== undefined) {
            $('.' + className).addClass('selectedActive');
        }
    }
    function onclickSubReport(filter) {
        var className = filter.replace(/\s+/g, '');
        var rpt = $('#filterMainReport').val();
        //console.log("reportByFilter ", filter)
        $.each(reportList, function (i, item) {
            $.each(item, function (j, itm) {
                var subReport = itm.SubReport.replace(/\s+/g, '');
                if (className == subReport) {
                    $('.' + className).addClass('selectedActive');
                } else {
                    $('.' + subReport).removeClass('selectedActive');
                }
            });
        });
        $('#selectedSubReport').val(filter);
    }
    function previewReport(url) {
        var subReport = $('#selectedSubReport').val();
        //var member = $('#ddlMemberFilter').val();
        url = url + "subreport=" + subReport;//+ "&member=" + member
        window.open(url, '_blank');
    }
</script>