@{
    ViewBag.Title = "Purchase";
}
<style>
    .rightAmt {
        text-align: right;
    }
</style>
<div class="CB_LIST">
    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Purchase listing</h4>
                    <div class="btn-toolbar p-3" role="toolbar">
                        <div class="btn-group mo-mb-2">
                            <button type="button" class="btn btn-primary waves-light waves-effect" onclick="AddNewPurchase()" data-toggle="tooltip" data-placement="top" title="Add new page"><i class="fas fa-plus-circle"></i></button>
                            <button type="button" class="btn btn-primary waves-light waves-effect" data-toggle="tooltip" data-placement="top" title="Change work flow step"><i class="ion-eye"></i></button>
                            <button type="button" class="btn btn-primary waves-light waves-effect"><i class="fa fa-exclamation-circle"></i></button>
                            <button type="button" class="btn btn-primary waves-light waves-effect" data-toggle="tooltip" data-placement="top" title="Delete multiple page"><i class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="btn-group mo-mb-2 ml-1">
                            <button type="button" class="btn btn-primary waves-light waves-effect dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-folder"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item ddlBorder" href="#"><i class="fas fa-file-excel" style="color:forestgreen;"></i> Export (CSV) format</a>
                                <a class="dropdown-item ddlBorder" href="#"><i class="fas fa-file-excel" style="color:forestgreen;"></i> Export (XLS) format</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="dtPurchaseList" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead class="thead-ful">
                                <tr>
                                    <th style="text-align:center;">Invoice no</th>
                                    <th style="text-align:center;">Supplier</th>
                                    <th style="text-align:center;">Date</th>
                                    <th style="text-align:center;">Amount</th>
                                    <th style="text-align:center;">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="CB_FORM" style="display:none">
    <div class="row">
        <div class="col-lg-4">
            <div class="card m-b-20">
                <div class="card-body" style="background-color: #f8f9fa;">
                    <h4 class="mt-0 header-title">
                        Detail
                    </h4>
                    <a href="/" class="waves-effect active">
                        <span class="badge badge-dark badge-pill float-right headerid">0</span><span>ID</span>
                    </a>
                    <div class="form-group row">
                        <label for="TrnDate" class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="date" value="2020-08-18" id="PurchaseDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtInvoiceNo">Invoice No</label>
                        <input type="text" class="form-control" id="txtInvoiceNo" />
                    </div>
                    <div class="form-group">
                        <label for="ddlSupplier">Supplier</label>
                        <select class="form-control" id="ddlSupplier" name="ddlSupplier"></select>
                    </div>
                    <div class="form-group">
                        <label for="ddlSalePerson">Sale Person</label>
                        <select class="form-control" id="ddlSalePerson" name="ddlSalePerson"></select>
                    </div>
                    <div class="form-group">
                        <button type="button" id="btnSaveHeader" class="btn btn-primary waves-effect waves-light" onclick="savePurchaseHeader()">Save Header</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card m-b-20">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-dark waves-effect waves-light" onclick="AddStockItem()"> Add item </button>
                    <hr />
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#DetailTab" role="tab">Detail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#attachmentTab" role="tab">Attachment</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active p-3" id="DetailTab" role="tabpanel">
                            <table id="dtPurchaseDetail" class="table table-bordered dt-responsive nowrap" style="border-spacing: 0; width: 100%;">
                                <thead class="thead-ful">
                                    <tr>
                                        <th style="text-align:center">SrNo</th>
                                        <th style="text-align: center;">Code</th>
                                        <th style="text-align: center;">Description</th>
                                        <th style="text-align:center">Qty</th>
                                        <th style="text-align: center;">Purchase Amount</th>
                                        <th style="text-align: center;">Amount</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div class="col-lg-5">

                                </div>
                                <div class="col-lg-7">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label for="txtTotalAmount" class="col-sm-4 col-form-label">Total</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control rightAmt" id="txtTotalAmount" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="txtDiscount" class="col-sm-4 col-form-label">Discount</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control rightAmt" id="txtDiscount" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="txtPaidAmount" class="col-sm-4 col-form-label">Paid Amount</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control rightAmt" id="txtPaidAmount" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="txtBalance" class="col-sm-4 col-form-label">Balance</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control rightAmt" id="txtBalance" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-items rightAmt">
                                <button type="button" class="btn btn-outline-primary waves-effect waves-light" onclick="savePurchaseHeader()"> Save</button>
                                <button type="button" class="btn btn-outline-secondary waves-effect waves-light" onclick="printVehSale()"> Print</button>
                                <button type="button" id="btnExitSale" class="btn btn-outline-dark waves-effect waves-light" onclick="ClosePurchase()"> Exit </button>
                            </div>
                        </div>
                        <div class="tab-pane p-3" id="attachmentTab" role="tabpanel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("ModalPopup")
@section scripts{
    @Html.Partial("Script")
}
