@{
    ViewBag.Title = "Profile";
}
<div class="row">
    <div class="card-body">
        <h5 class="modal-title mt-0">Profile</h5>
        <div class="card m-b-20">
            <div class="card-body">
                <div class="">
                    <img id="img_profileImage" alt="image" class="img-fluid" src="/images/users/user-4.jpg" />
                </div>
                <hr />
                <div class="form-group row">
                    <label for="txtUserCode" class="col-sm-3 col-form-label">Code</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="txtUserCode" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtUserName" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="txtUserName" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtEmail" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="txtEmail" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtPhoneNo" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="txtPhoneNo" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtUserGroup" class="col-sm-3 col-form-label">UserGroup</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="txtUserGroup" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        onClickUserProfile();
    });
    function onClickUserProfile() {
        //alert('click profile');
        var data = GetUserProfileData();
        $('#txtUserCode').val(data.UserCode);
        $('#txtUserName').val(data.UserName);
        $('#txtEmail').val(data.Email);
        $('#txtPhoneNo').val(data.PhoneNo);
        $('#txtUserGroup').val(data.UserGroupCode);
        $("#img_profileImage").attr('src', data.ImageUrl);        
    }
    function GetUserProfileData() {
        var request = $.ajax({
            type: 'POST',
            dataType: 'json',
            async: false,
            beforeSend: function () {
                return true;
            },
            url: '/SystemManager/GetUserProfileData',
            data: {

            }, success: function (data) {
            }, error: function (jqXHR, textStatus, errorThrown) {
                show_ajax_error(jqXHR, textStatus, errorThrown);
            }
        });
        var result = request.responseJSON;
        return (result.data != null) ? result.data : [];
    }
</script>

