<div class="modal fade bs-example-modal-lg" id="PreviewMeidaImageModal" tabindex="-1" role="dialog" aria-labelledby="PreviewMeidaImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title imgtitle">Preview</h4>
                        <div class="">
                            <img src="/images/small/img-2.jpg" id="imgMediaPreview" class="img-fluid" alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
